{% extends "base.html" %}
{% block content %}
  <h1>Lisää uusi ostotapahtuma tietokantaan:</h1>

  <form method="post" action="{{base_path}}/uusi_ostotapahtuma">
    <div class="form-group">
      <label>Tuote</label>
      <select class="form-control" name="tuote_id">
        {% for tuote in tuotteet %}
          <option value="{{tuote.id}}">{{tuote.nimi}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Kauppa</label>
      <select class="form-control" name="kauppa_id">
        {% for kauppa in kaupat %}
          <option value="{{kauppa.id}}">{{kauppa.nimi}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Kilo-/litrahinta muodossa XX.XX</label>
      <input name="hinta" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Ostohetki muodossa YYYY-MM-DD HH:MI:SS</label>
      <input name="ostohetki" class="form-control" type="text">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}