{% extends "base.html" %}
{% block content %}
  <h1>Lisää kauppa tietokantaan:</h1>

  <form method="post" action="{{base_path}}/kaupat">
    <div class="form-group">
      <label>Nimi</label>
      <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Osoite</label>
      <input name="osoite" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Kauppayhtymä</label>
      <input name="kauppayhtyma" class="form-control" type="text">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}