{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Kauppa</th>
        <th>Hinta</th>
        <th>Ostohetki</th>
      </tr>
    </thead>

    <tbody>
      {% for osto in ostot %}
        <tr>
          <td><a href="{{base_path}}/tuotteet/{{osto.tuote_id}}" class="transparent button">{{osto.tuote_id}}</a></td>
          <td><a href="{{base_path}}/kaupat/{{osto.kauppa_id}}" class="transparent button">{{osto.kauppa_id}}</a></td>
          <td>{{osto.hinta}}</td>
          <td>{{osto.ostohetki}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>  		
{% endblock %}