{% extends "base.html" %}
{% block content %}
<h1>Tuotteet</h1>

<input placeholder="Hae tuotetta:" type="text">
<button class="btn btn-danger">Hae</button>

<p>
  <a href="{{base_path}}/tuotteet/uusi" class="btn btn-success">Lisää uusi tuote</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
      </tr>
    </thead>

    <tbody>
      {% for tuote in tuotteet %}
        <tr>
          <td>{{tuote.nimi}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>  
{% endblock %}