{% extends "base.html" %}
{% block content %}
  <h1>Lisää kauppa tietokantaan:</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/kaupat">
    <div class="form-group">
      <label>Nimi</label>
      <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text">
    </div>

    <div class="form-group">
      <label>Osoite</label>
      <input name="osoite" class="form-control" value="{{attributes.osoite}}" type="text">
    </div>

    <div class="form-group">
      <label>Kauppayhtymä</label>
      <select class="form-control" name="kauppayhtyma_id">
        {% for kauppayhtyma in kauppayhtymat %}
          {% if kauppayhtyma.id == attributes.kauppayhtyma_id %}
            <option selected value="{{kauppayhtyma.id}}">{{kauppayhtyma.nimi}}</option>
          {% else %}
            <option value="{{kauppayhtyma.id}}">{{kauppayhtyma.nimi}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}